# Database Configuration
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=devices_manager
MYSQL_USER=devuser
MYSQL_PASSWORD=devpass
MYSQL_PORT=3306

# Application Configuration
SPRING_PROFILES_ACTIVE=dev

# Service Ports
STATISTICS_API_PORT=8080
DEVICE_REGISTRATION_API_PORT=8081

# Device Registration API Key
DEVICE_REGISTRATION_API_KEY=00000000-0000-0000-0000-000000000000
